* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Comic Sans", "Courier New",
    georgia, helvetica, impact, "times new roman", "trebuchet ms", verdana,
    "Iskoola Pota";
    --error-color: #fa370d;
}
body{
    background-image: url('../img/bg7.png');
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
}
#tableheading{
    font-size:20px;
    background-color: red;

}
table{
    background-color:white;
    border-radius: 10px;
    text-align: center;

}
#table>thead{
    font-size: 20px;
}
#tabletopic{
    font-size: 50px;
    font-family: Calibri;

}
#btnAdd{
    margin: 10px;
}
#btnView{
    margin: 10px;
}
#form{
    background-color: white;
    border-radius: 10px;

}
#formbtn{
    margin-left: 20px
}
.card{

}




