<!DOCTYPE html>
<html lang="en"  >
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container">
    <div class="row">
        <div class="col-md-3" style="padding:30px;">
                <a class="button card btn btn-default" href="/employee" style="text-decoration: none;color: black">
                <div class="card-body">
                    <h4 class="card-title">Employee Management</h4>
                    <p class="card-text">You are able to add,view,update and delete employees from here.</p>
                </div>
                </a>
        </div>
        <div class="col-md-3" style="padding:30px">
            <a class="button card btn btn-default" href="/user" style="text-decoration: none;color: black">
                <div class="card-body">
                        <h4 class="card-title">User Management</h4>
                        <p class="card-text">You are able to add,view,update and delete users from here.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3" style="padding:30px">
            <a class="button card btn btn-default" href="/role" style="text-decoration: none;color: black">
                <div class="card-body">
                    <h4 class="card-title">Role Management</h4>
                    <p class="card-text">You are able to add,view,update and delete roles from here.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3" style="padding:30px">
            <a class="button card btn btn-default" href="/serviceType" style="text-decoration: none;color: black">
                <div class="card-body">
                    <h4 class="card-title">Service Type Management</h4>
                    <p class="card-text">You are able to add,view,update and delete service types from here.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="padding:30px">
            <a class="button card btn btn-default" href="/payment" style="text-decoration: none;color: black">
                <div class="card-body">
                        <h4 class="card-title">Payment Management</h4>
                        <p class="card-text">You are able to add,view,update and delete Payment from here.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3" style="padding:30px">
            <a class="button card btn btn-default" href="/discountRatio" style="text-decoration: none;color: black">
                <div class="card-body">
                        <h4 class="card-title">Discount Management</h4>
                        <p class="card-text">You are able to add,view,update and delete discount from here.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3" style="padding:30px">
            <a class="button card btn btn-default" href="/customer" style="text-decoration: none;color: black">
                <div class="card-body">
                    <h4 class="card-title">Customer Management</h4>
                    <p class="card-text">You are able to add,view,update and delete customer from here.</p>
                </div>
            </a>
        </div>
        <div class="col-md-3" style="padding:30px">
            <a class="button card btn btn-default" href="/vehicle" style="text-decoration: none;color: black">
                <div class="card-body">
                    <h4 class="card-title">Vehicle Management</h4>
                    <p class="card-text">You are able to add,view,update and delete vehicle from here.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">

    </div>
</div>
<style>
    body{
        background-image: url('../img/bg.jpg');

    }
    .button{
        height: 200px;
        width:100%;
        box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.15);


    }
    .card-body{

    }
    .card-body:hover{

    }
    /*.card:hover {
        background-color: #ffe32e;

    }*/
    .button:hover{
        border: solid 2px;
        border-radius: 7px;
        background-color: #eeeeee;
    }
    .btn-warning{
        background-color: #ffe32e;
    }


</style>

<!--footer include-->
<div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div  data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>

