<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="container-fluid  " >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-primary" href="/home" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp; Home
      </a >
    </div >
    <div class="col" >
      <h4 class="text-light text-center" >
        <strong >
          <span data-th-text="${paymentDetail.code +' Detail'}" ></span >
        </strong >
      </h4 >
    </div >
    <div class="col" >
      <a href="/payment" class="btn btn-primary" >
        <i class="fa fa-list" ></i >&nbsp; View List
      </a >
    </div >
  </div >
</div >

<div class="container-fluid" >
  <!--selected ledger items-->
  <div class="form-group" >
    <div class="form-row" >
      <div class="container" >
        <div class="col" >
          <table class="table table-hover table-striped" id="myTable" >
            <thead >
            <tr >
              <th >Index</th >
              <th >Name</th >
              <th >Service Section/th >
            </tr >
            </thead >
            <tbody >
            <tr data-th-each="serviceTypeParameter, index : ${paymentDetail.serviceType.serviceTypeParameters}" >
              <td data-th-text="${index.count}" ></td >
              <td data-th-text="${serviceTypeParameter.name}" ></td >
              <td data-th-text="${serviceTypeParameter.serviceSection.serviceSection}" ></td >
            </tr >
            </tbody >
            <tfoot >
            <tr >
              <th colspan="4" class="text-right" ><label for="total" >Total</label ></th >
              <th ><p id="total" ></p >
              </th >
            </tr >
            </tfoot >
          </table >
        </div >
      </div >
    </div >
  </div >
  <hr >
  <!--Payment Section-->
  <div class="form-group" >
    <!--Payment method and total amount-->
    <div class="form-row text-right" >
      <!--payment method-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label data-th-for="${'paymentMethod'}" >Payment Method:</label >
          </div >
          <div class="col-md-8 text-left" >
            <p data-th-text="${paymentDetail.paymentMethod.paymentMethod}" ></p >
          </div >
        </div >
      </div >
      <!--Discount-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="discountRatio" >Discount Ratio :</label >
          </div >
          <div class="col-md-8" >
            <p id="discountRatio"
               data-th-text="${paymentDetail.discountRatio.name}+${' '}+${paymentDetail.discountRatio.amount}" ></p >
          </div >
        </div >
      </div >
    </div >
    <div class="form-row" >
      <!--Total Amount-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="totalAmount" >Total Amount :</label >
          </div >
          <div class="col-md-8" >
            <p id="totalAmount" data-th-text="${paymentDetail.totalAmount}" ></p >
          </div >
        </div >
      </div >
      <!--Discount Amount-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="discountAmount" >Discount Amount :</label >
          </div >
          <div class="col-md-8" >
            <p id="discountAmount" data-th-text="${paymentDetail.discountAmount}" ></p >
          </div >
        </div >
      </div >
    </div >
    <!--Amount tendered and balance  -->
    <div class="form-row text-right" id="cashPaymentBlock" >
      <!--Amount Tendered-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="amountTendered" >Amount Tendered :</label >
          </div >
          <div class="col-md-8" >
            <p id="amountTendered" data-th-text="${paymentDetail.amountTendered}" ></p >
          </div >
        </div >
      </div >
      <!--Balance-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="balance" >Balance :</label >
          </div >
          <div class="col-md-8" >
            <p id="balance" data-th-text="${paymentDetail.balance}" ></p >
          </div >
        </div >
      </div >
    </div >
    <!-- Card Payment -> Bank and card Number -->
    <div class="form-row text-right" id="bankNameBlock" >
      <!--Bank -->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="bankName" >Bank Name Tendered :</label >
          </div >
          <div class="col-md-8" >
            <p id="bankName" data-th-text="${paymentDetail.bankName}" ></p >
          </div >
        </div >
      </div >
      <!--card number-->
      <div class="col-md-6 " >
        <div class="form-row text-right" >
          <div class="col-md-4" >
            <label class="control-label" for="cardNumber" >Card Number :</label >
          </div >
          <div class="col-md-8" >
            <p id="cardNumber" data-th-text="${paymentDetail.cardNumber}" ></p >
          </div >
        </div >
      </div >
    </div >
  </div >
  <hr >
  <!--customer -->
  <div class="form-group" >
    <!--Customers-->
    <div data-th-replace="~{customer/customer-detail :: customerDetailsFragment}" ></div >
  </div >
  <hr >
  <hr >
  <!--vehicle -->
  <div class="form-group" >
    <!--Customers-->
    <div data-th-replace="~{vehicle/vehicle-detail :: vehicleDetailsFragment}" ></div >
  </div >
  <hr >
  <!--remarks and invoice print or not-->
  <div class="form-group" >
    <div class="form-row" >
      <!--Remarks-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label for="remarks" >Remarks :</label ></div >
        <div class="col-md-8" >
          <p id="remarks" class="form-control" data-th-utext="${paymentDetail.remarks}" ></p >
        </div >
      </div >
    </div >
  </div >
  <hr >
  <!--button-->
  <div class="form-group" >
    <!--Button-->
    <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
      <!--Back Button-->
      <a class="btn btn-dark" href="/invoice" tabindex="14" >
        <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
      </a >
    </div >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>


</body >
</html >
