<!DOCTYPE html>
<html lang="en"  >
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<link  data-th-href="@{/css/myCss.css}" media="all" rel="stylesheet" type="text/css"/>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid ">
    <div class="row">
        <div class="col text-right"></div>
        <div class="col text-center" id="topic">
            <p class="text-center" id="tabletopic">

                vehicles List

            </p>
        </div>
        <div class="col text-right">
            <a class="btn btn-lg btn-light" href="/vehicle/add" id="btnAdd" tabindex="1" >
                <i class="fas fa-plus" style="font-size: 20px"></i>&nbsp;&nbsp;
                Add New
            </a>
        </div>
    </div>
</div>
<div class="container-fluid  text-center  ">
    <div class="" id="roleListPresent" data-th-if="${not #lists.isEmpty(vehicles)}">
        <div class="table-responsive">
            <table class="table table-borderless table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Number</th>
                    <th> Owner name</th>
                    <th> Manufacture Year</th>
                    <th> Vehicle Model</th>
                    <th > Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="vehicle, rowCount : ${vehicles}">
                    <td data-th-text="${rowCount.count}"></td>
                    <td data-th-text="${vehicle.number}"></td>
                    <td data-th-text="${vehicle.customer.name}"></td>
                    <td data-th-text="${vehicle.manufacturedYear}"></td>
                    <td data-th-text="${vehicle.vehicleModel.vehicleModel}"></td>
                    <td >
                        <a data-th-href="${'/vehicle/view/' + vehicle.id}" class="btn btn-success btn-sm"><i class="fa fa-folder-open" style="font-size: 15px"></i>View
                        </a>
                        <a  data-th-href="${'/vehicle/edit/' + vehicle.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>Edit
                        </a>
                        <a id="remove" data-th-href="${'/vehicle/delete/' + vehicle.id}"
                           class="btn btn-danger btn-sm"
                           onclick="if
                        (!(confirm('Are you sure you want to delete this vehicle?'))) return false"
                        ><i class="fa fa-trash" style="font-size: 15px"></i>
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--if empty list-->
    <div class="row" id="serviceTypeNotList" data-th-if="${ #lists.isEmpty(vehicles)}" >
        <div class="alert alert-warning alert-dismissible fade show" role="alert" >
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close" >
                <span aria-hidden="true" >&times;</span >
            </button >
            <h3 class="text-center text-danger" >
                <strong >There is no vehicle upto know please add vehicle to the
                         system
                         using add vehicle button.
                </strong >
            </h3 >
        </div >
    </div >
</div>
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

<script >
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script >
</body>
</html>
