<!DOCTYPE html>
<html lang="en"  >
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <link  data-th-href="@{/css/addRoleCss.css}" media="all" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid" id="topicBack" >
    <div class="row text-left">
        <!--<div class="col">
            <a class="btn"  id="btnHome" href="/home">

                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp;
                Home
            </a>
        </div-->
        <div class="col"></div>
        <div class="col text-center" id="tabletopic">
            <p class="text text-center">
                <strong>
                    <span id="formHeader"  data-th-text="${addStatus==true?'New Role ':'Update Role'}"></span>
                </strong>
            </p>
        </div>
        <div class="col text-right  ">
            <a href="/role" class="btn btn-lg btn-light" id="btnView">

                <i class="fa fa-list" style="font-size: 20px"></i>&nbsp;
                View Roles
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-12" id="formBack" >
        <form id="form" style="padding-left: 130px;padding-top: 50px;" method="POST"  data-th-action="${addStatus==true?'/role/add':'/role/update'}"
               data-th-object="${role}">
            <div class="form-group col-md-12 col-sm-12  flex-column">
                <div class="col-sm-10 ">
                    <div id="idHide"  data-th-if="${addStatus==false}" class="form-row text-right">
                        <div class="col-md-4 text-left">
                            <label class="control-label" for="id">ID :</label>
                        </div>
                        <div class="col-md-12">
                            <input class="form-control"  data-th-field="*{id}"  id="id" type="text" readonly/>
                        </div>
                    </div>
                    <div class="form-group ">
                            <label class="control-label" for="roleName">Name :</label>
                            <input id="roleName"  data-th-field="*{roleName}" class="form-control" type="text" required/>
                            <span id="roleNameError"  data-th-errors="*{roleName}"  data-th-if="${#fields.hasErrors('roleName')}" class="error">Error Role Name</span>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-10 text-right flex-column" id="">
                <!--Back Button-->
                <a class="btn btn-dark" id="formbtn" tabindex="10" href="/customer">
                    <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp;&nbsp;Back
                </a>
                <!--Save Button-->
                <button class="btn btn-info" id="formbtn" type="submit" tabindex="8">
                    <i class="fa fa-save " style="font-size: 20px"></i>&nbsp;&nbsp;<span id="submit" data-th-text="${addStatus==true?'Save': 'Update'}"></span>
                </button>
                <!--Cancel Button-->
                <button class="btn btn-warning" id="formbtn" type="reset" tabindex="9">
                    <i class="far fa-times-circle" style="font-size: 20px"></i>&nbsp;&nbsp;Cancel
                </button>
                <!--<button class="btn btn-success" type="submit">
                    <i class="fa fa-save" style="font-size: 20px"></i>&nbsp; &nbsp;<span
                        id="submit"  data-th-text="${addStatus==true?'Save': 'Update'}">                        </span>
                </button>-->
            </div>
            <!--Error-->
            <div class="form-row">
                <label id="errorLabel"  data-th-if="${#fields.hasErrors('*')}" th:text="'Errors: '">Errors: </label>
                <ul>
                    <li id="errorDisplay"  data-th-each="err: ${#fields.errors('*')}" th:utext="${err}" class="error"></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<!--footer include-->
<div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div  data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
